<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nycolas Vieira Da Silva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nycolas Vieira da Silva</ion-title>
    </ion-toolbar>
  </ion-header>
<img src="src/assets/img/eu.png" alt="">
<img id="nic" src="assets/img/eu.jpg" alt="">
  <div id="container">
    <strong> ADS0301M</strong>
    
  </div>
</ion-content>
